<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <main>
            <div>
                <p><% Greeting %></p>
            </div>
        </main>        
    </body>
</html>